<form class="form-signin" action="/listeners/join" method="GET">
    <input type="text" name="keyroom" class="form-control" placeholder="Key Room" required autofocus> <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit"> Join </button>
    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
</form>

